<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zk.fdjyq.mapper.UnitMapper">
  <resultMap id="BaseResultMap" type="cn.zk.fdjyq.pojo.Unit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bmCode" jdbcType="VARCHAR" property="bmCode" />
    <result column="unitLayer" jdbcType="BIGINT" property="unitLayer" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, bmCode, unitLayer, code, parentId
  </sql>
  <select id="selectByExample" parameterType="cn.zk.fdjyq.pojo.UnitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from unit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from unit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.zk.fdjyq.pojo.Unit" useGeneratedKeys="true">
    insert into unit (name, bmCode, unitLayer, 
      code, parentId)
    values (#{name,jdbcType=VARCHAR}, #{bmCode,jdbcType=VARCHAR}, #{unitLayer,jdbcType=BIGINT}, 
      #{code,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.zk.fdjyq.pojo.Unit" useGeneratedKeys="true">
    insert into unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="bmCode != null">
        bmCode,
      </if>
      <if test="unitLayer != null">
        unitLayer,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bmCode != null">
        #{bmCode,jdbcType=VARCHAR},
      </if>
      <if test="unitLayer != null">
        #{unitLayer,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zk.fdjyq.pojo.Unit">
    update unit
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bmCode != null">
        bmCode = #{bmCode,jdbcType=VARCHAR},
      </if>
      <if test="unitLayer != null">
        unitLayer = #{unitLayer,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zk.fdjyq.pojo.Unit">
    update unit
    set name = #{name,jdbcType=VARCHAR},
      bmCode = #{bmCode,jdbcType=VARCHAR},
      unitLayer = #{unitLayer,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>